@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* Or, if you need to directly reference from your public directory */
@font-face {
    font-family: 'Irish Grover';
    src: url('./fonts/IrishGrover-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }